@import 'variables';

html,
body {
  height: 100%;
}

#root {
  margin-top: 56px;
  height: calc(100% - 56px);
  overflow: auto;
}

@media (min-width: $mobile) {
  #root {
    margin-top: 64px;
    height: calc(100% - 64px);
    overflow: auto;
  }
}
